body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    margin-left: 0 !important;
    margin-right: 0 !important; /* 1.5rem */ 
    margin-top: 1rem;
    padding-top: 70px;
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
  
    font-size: 1rem;
    color: var(--dark-text);
  
    background-color: var(--background);
  }
  @media (min-width: 780px) {
    body {
      min-height: 100vh;
      margin-left: 0 !important; /* 3rem */
      margin-right: 0 !important;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

.aboutme_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2rem;
}

/* .photo-description_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
@media (min-width: 580px) {
  .photo-description_container {
    flex-direction: row;
  }
} */

/* .photo-description_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 580px) {
  .photo-description_container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 3rem;
  }
} */

.photo-description_container {
  border-top: transparent !important;
}


.my-photo {
  grid-column-start: 1;
  justify-self: start;
  align-self: center;
  width: 200px; /* Set a default width */
  height: 200px;
  border-radius: 50%;
  flex-shrink: 0;
  /* object-fit: contain; */
}
@media (min-width: 950px) {
  .my-photo {
    grid-column-start: 2;
    justify-self: end;
  }
}


.description_container {
  /* grid-column-start: 3; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  max-width: 500px;
}

.description {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
}


/* .cv_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cv-section_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  border-top: solid 0.5px var(--medium-text);;
}
@media (min-width: 950px) {
  .cv-section_container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 3rem;
  }
} */

.cv_container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 3rem;
}
@media (min-width: 950px) {
  .cv_container {
    grid-template-columns: 1fr;
  }
}

.cv-section_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  grid-column: span 3;
  border-top: solid 0.5px var(--medium-text);;
}
@media (min-width: 950px) {
  .cv-section_container {
    display: grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
    gap: 3rem;
  }
}



.when-what_container {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  gap: 1.5rem;
}

.when-what {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1.5rem;
}
@media (min-width: 950px) {
  .when-what {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem;
  }
}

.when {
  text-align: end;
}

.what {
  display: flex;
  flex-direction: column;
  gap: 0.2rem
}

.what-my-studies-gave-me_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.2rem;
  padding-top: 2rem;
  max-width: 700px;
}
@media (min-width: 950px) {
  .what-my-studies-gave-me_container {
    padding-top: 0.5rem;
  }
}



.experience-description_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /* flex-wrap: wrap; */
  gap: 1rem;
  margin-left: -20px;
  padding-top: 0.5rem;
}
@media (min-width: 580px) {
  .experience-description_container {
    flex-direction: row;
    justify-content: start;
  }
}

.experience-description {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  max-width: 500px;
}



/* ------------------------------ check out the projects BUTTON ----------------- */
.check-out-the-projects {
  display: flex;
  padding: 2rem;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  /* border-radius: 50%; */
  clip-path: circle(40%);
  transition: clip-path 1s;
  background-color: var(--yellow);
  transition: 0.3s ease-in-out;
}
@media (max-width: 950px) {
  .center-vertically {
    padding-left: 35%;
  }
}

.check-out-the-projects:hover{
  transform-origin: center;
  /* transform : scale(1.2); */
  clip-path: circle(50%);
  cursor: pointer;
}

.button-text {
  pointer-events: none;
  transform: none;
}

.button-text:hover {
  pointer-events: none;
  transform-origin: center; 
  transition: none;
  transform: none;
}

.softwares-languages {
  padding-top: 0.5rem;
}


/* ------------------------------------ HOW DO I WORK shapes ------------------------------- */

.turn-ideas-into-prototypes {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  gap: 1rem;
  grid-column: span 2;
}

.design-thinking-shapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.shapes_container {
  position: relative;
  width: 533px; 
  height: 280px;
  /* max-width: fit-content; */
}

.new-shapes_container {
  height: 275px;
}

@media (min-width: 591px) {
  #trigger-point {
    /* visibility: hidden; */
    position: absolute;
    top: 25%;
    border: 4px solid limegreen;
    pointer-events: none; 
    width: 100%;
  }
}
@media (min-width: 950px) {
  #trigger-point {
    /* visibility: hidden; */
    position: absolute;
    top: 20%;
  }
}
@media (min-width: 1300px) {
  #trigger-point {
    /* visibility: hidden; */
    position: absolute;
    top: 0;
  }
}

.shape {
  transition: all 1s ease-in-out;
}

/* --------------- old shapes -------------- */
#shape1 {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -5;
  width: 535px; 
  height: 245px;
  padding-top: 140px;
  padding-left: 370px;
  background-color: var(--blue-medium);
  transition: all 0.8s ease-in-out;
  clip-path: path("M197.268 223.847C233.417 283.923 316.495 181.043 366.036 207.722C415.578 234.401 646.656 181.214 463.46 148.11C396.687 136.043 516.567 91.6244 439.804 75.7928C363.042 59.9613 359.775 47.355 314.861 35.628C269.947 23.901 227.482 43.837 211.422 25.0737C195.361 6.31044 114.728 -1.19827 67.9686 0.153657C27.4097 1.32631 121.594 59.082 87.0232 86.3474C59.312 108.203 -25.658 197.143 7.60468 223.847C40.8674 250.55 161.118 163.77 197.268 223.847Z");
}
#shape1.transitioned {
  top: calc(10px + 340px);
  left: 65px;
  width: 417px; 
  height: 240px;
  padding-top: 85px;
  padding-left: 20px;
  clip-path: path("M1.99976 208C2.99976 208 418.999 209 419.999 209C421 209 421 209 421 208C421 207.948 422 2 422 0.999999C422 -7.7486e-07 422 9.5366e-07 421 9.53674e-07C420 9.53689e-07 242 0.999998 215.5 0.999999C189 1 47.3834 7.08916e-05 0.604553 6.38962e-05C0.080658 6.38178e-05 0 9.53674e-07 0 1C0 41 0.999756 206 0.999756 207C0.999756 208 0.999756 208 1.99976 208Z");
}

#shape2 {
  position: absolute;
  top: 0;
  left: 180px;
  z-index: -2;
  width: 230px; 
  height: 106px;
  /* transform: translate(100px, 0); */
  background-color: var(--yellow);
  padding-left: 60px;
  padding-top: 60px;
  transition: all 0.8s ease-in-out;
  clip-path: path("M131.172 46.5842C87.1896 65.3774 69.4823 43.4378 20.8968 57.6009C-27.6887 71.764 20.8968 112.037 41.6133 105.232C62.3298 98.4277 106.95 88.383 173.243 98.1036C239.535 107.824 237.623 40.7518 218.181 9.96977C198.74 -20.8123 175.155 27.7909 131.172 46.5842Z");
}
#shape2.transitioned {
  /* transform: translate(50px, 100px); */
  top: calc(35px + 340px);
  left: calc(180px + 65px);
  width: 200px; 
  height: 127px;
  padding-top: 42px;
  padding-left: 76px;
  clip-path: path("M82.7818 29.0925C113.514 42.1753 127.62 5.88691 169.379 12.5531C211.139 19.2193 200.485 118.299 179.749 124.685C125.191 141.486 93.7228 61.3305 46.9098 61.3305C-1.01309 61.3305 -7.31131 28.936 6.27342 7.50729C19.8581 -13.9214 52.0492 16.0098 82.7818 29.0925Z");
}

#shape3 {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: -3;
  width: 247px; 
  height: 130px;
  padding-top: 45px;
  padding-left: 80px;
  background-color: var(--orange);
  transition: all 0.8s ease-in-out;
  clip-path: path("M88.4178 21.5636C130.683 37.375 177.021 30.9067 230.489 25.8758C283.957 20.8449 206.047 99.9019 191.534 89.8401C177.021 79.7783 160.981 79.0596 131.192 114.276C101.403 149.492 63.7208 117.869 71.3591 94.1523C78.9973 70.4352 24.7658 66.8417 5.6702 25.8758C-13.4254 -15.0901 46.1529 5.75223 88.4178 21.5636Z");
}
#shape3.transitioned {
  /* transform: translate(50px, 100px); */
  top: calc(5px + 340px);
  left: calc(-3px + 65px);
  width: 420px; 
  height: 174px;
  padding-top: 25px;
  padding-left: 22px;
  clip-path: path("M2.0007 2.76945C1.35867 1.21533 421.114 2.21762 422.115 3.98007C423.116 5.74251 423.801 172.309 421.114 174.677C418.993 176.546 325.088 175.887 323.088 175.887C322.057 175.887 322.466 70.7049 322.088 69.7894C321.709 68.8739 8.00256 71 3.00119 71C2.00092 71 2.92291 5.00171 2.0007 2.76945Z");
}

#shape4 {
  position: absolute;
  top: 110px;
  left: 310px;
  z-index: -2;
  width: 173px;
  height: 103px;
  background-color: var(--rose-dark);
  transition: all 0.8s ease-in-out;
  clip-path: path("M147.067 62.4299L147.068 62.4326C147.97 64.5501 149.091 65.9152 150.407 66.7035C152.453 67.9285 154.87 67.7526 157.242 67.269C159.239 66.8618 161.212 66.2035 162.994 65.6825C164.952 65.1098 166.72 64.7152 168.119 64.7809C169.508 64.8461 170.628 65.3131 171.465 66.2035C172.242 67.0291 172.823 68.3061 172.902 70.2828C173.107 75.412 173.228 79.7101 170.699 83.8089C169.019 86.5338 166.149 89.2069 161.185 91.914C152.748 96.5148 142.472 94.8891 130.975 91.7203C114.911 87.2925 96.2993 79.899 77.0438 85.7376C62.6696 90.0958 48.25 98.2495 35.5602 101.527C28.7993 103.274 22.4978 103.654 16.8928 101.642C11.2324 99.61 6.21164 95.1593 2.19462 86.9958C0.06817 82.6749 -0.365263 78.8756 0.266455 75.5376C1.20078 70.6019 4.52465 66.6238 8.58793 63.4519C12.3592 60.5076 16.7451 58.2568 20.0928 56.486C22.0217 55.4655 23.5778 54.6721 24.2787 53.9541C32.9098 45.1103 39.6958 28.5877 48.8567 16.3289C54.6963 8.51456 61.4951 2.40624 70.0852 0.5717C75.863 -0.661995 82.4789 0.00767082 90.204 3.49724C97.3746 6.73633 101.15 10.647 104.898 13.965C110.01 18.491 115.126 21.6335 130.622 19.62C153.855 16.6011 166.724 25.9239 170.239 34.4019C171.971 38.58 171.568 42.655 169.35 45.5257C168.165 47.0601 166.318 48.361 164.101 49.5056C161.187 51.0098 157.601 52.2817 154.367 53.7602C152.409 54.6548 150.586 55.6192 149.191 56.8031C147.521 58.2204 146.549 59.9835 147.067 62.4299ZM143.192 63.4983C141.902 58.0026 144.836 54.4354 149.475 51.7524C152.95 49.7424 157.428 48.2419 161.134 46.4956C163.246 45.4999 165.101 44.4614 166.171 43.0758C168.134 40.5346 167.529 36.5941 164.804 32.951C160.031 26.5671 148.898 21.2895 131.14 23.5968C113.692 25.8643 107.991 22.0623 102.234 16.9661C98.7361 13.869 95.2429 10.1749 88.5493 7.15141C81.7766 4.09207 75.9902 3.41182 70.9249 4.49368C63.2498 6.13259 57.2923 11.7457 52.0748 18.7277C42.8074 31.1289 35.8855 47.8068 27.1542 56.7533C26.4692 57.455 25.1998 58.2782 23.5366 59.1904C20.2545 60.9912 15.2518 63.3398 11.0608 66.6116C7.77937 69.1733 4.96651 72.2966 4.21216 76.2824C3.71825 78.8922 4.13603 81.8488 5.7982 85.227C9.23362 92.208 13.4101 96.1303 18.2509 97.8676C23.1466 99.6249 28.6494 99.1699 34.5548 97.6445C47.1971 94.379 61.557 86.2419 75.8772 81.9C95.9201 75.8228 115.322 83.2456 132.043 87.8541C142.403 90.7097 151.658 92.5396 159.261 88.3939C163.408 86.1322 165.876 83.982 167.281 81.7054C169.38 78.3024 169.06 74.7007 168.89 70.4426C168.86 69.6901 168.84 69.1735 168.506 68.9197C168.175 68.6682 167.697 68.7592 167.144 68.8256C166.247 68.9331 165.225 69.2087 164.122 69.5313C157.169 71.5644 147.841 74.8085 143.291 63.8063C143.25 63.7065 143.217 63.6035 143.192 63.4983Z");
}
#shape4.transitioned {
  /* transform: translate(50px, 100px); */
  top: calc(26px + 340px);
  left: calc(190px + 65px);
  width: 215px;
  height: 121px;
  clip-path: path("M32.2288 47.6602L32.2275 47.657C31.1066 45.1695 29.7134 43.5658 28.0779 42.6397C25.5352 41.2007 22.5314 41.4073 19.5835 41.9754C17.1017 42.4538 14.6497 43.2271 12.4351 43.8392C10.0017 44.5119 7.80451 44.9755 6.06587 44.8983C4.33966 44.8217 2.94776 44.2731 1.90755 43.2271C0.941918 42.2572 0.21987 40.7571 0.121691 38.4349C-0.133078 32.4094 -0.283469 27.3602 2.85951 22.5451C4.94737 19.344 8.51415 16.2037 14.6833 13.0236C25.1686 7.61876 37.9393 9.52856 52.2275 13.2511C72.1915 18.4527 97.5873 40.5979 121.518 33.739C139.381 28.6192 155.036 5.58091 170.807 1.73065C179.209 -0.321646 187.04 -0.768051 194.006 1.59556C201.041 3.98266 207.28 9.21114 212.273 18.8013C214.915 23.8773 215.454 28.3405 214.669 32.2618C213.508 38.0601 209.377 42.7334 204.327 46.4596C199.64 49.9184 181.419 55.149 177.258 57.2293C174.861 58.4281 172.927 59.3601 172.056 60.2036C161.33 70.5929 165.667 87.4165 154.282 101.818C147.025 110.997 138.575 118.173 127.9 120.328C120.719 121.778 112.497 120.991 102.897 116.892C93.9853 113.086 91.0308 102.897 86.3729 98.9995C80.0199 93.6826 73.6618 89.9909 54.4038 92.3563C25.5304 95.9028 7.79955 90.5458 3.43119 80.5862C1.27871 75.678 1.77954 70.8908 4.53601 67.5185C6.0087 65.7159 8.30412 64.1877 11.0593 62.8431C14.6808 61.076 19.1374 59.5818 23.1565 57.8449C25.5899 56.794 27.8555 55.6611 29.5891 54.2703C31.6646 52.6053 32.8725 50.5341 32.2288 47.6602ZM37.0445 46.4051C38.6477 52.8612 35.0014 57.0517 29.2362 60.2036C24.9175 62.5649 19.3524 64.3276 14.7467 66.3791C12.1219 67.5488 9.81656 68.7687 8.4868 70.3965C6.04723 73.3818 6.79911 78.0109 10.1857 82.2906C16.1174 89.7902 31.6908 90.3951 53.76 87.6845C75.4439 85.0208 82.529 89.4872 89.6837 95.474C94.0308 99.1123 96.6345 109.047 104.953 112.599C113.37 116.193 120.561 116.992 126.856 115.721C136.395 113.796 143.799 107.202 150.283 98.9995C161.8 84.4312 157.632 67.4252 168.483 56.9152C169.334 56.0909 170.911 55.1239 172.978 54.0522C177.057 51.9367 196.045 46.5913 201.254 42.7477C205.332 39.7383 208.828 36.0692 209.765 31.3869C210.379 28.321 209.86 24.8477 207.794 20.8792C203.525 12.6782 198.334 8.07045 192.318 6.02955C186.234 3.96515 179.395 4.49967 172.056 6.29164C156.345 10.1278 140.764 33.1465 122.967 38.2472C98.0585 45.3864 71.6807 23.2068 50.9002 17.793C38.0251 14.4383 26.5232 12.2886 17.0744 17.1588C11.9206 19.8158 8.85341 22.3417 7.10731 25.0162C4.49873 29.0139 4.89643 33.245 5.1077 38.2472C5.14498 39.1312 5.16984 39.7381 5.58493 40.0362C5.99628 40.3317 6.59033 40.2248 7.27759 40.1468C8.39235 40.0205 9.66247 39.6967 11.0333 39.3178C19.6743 36.9294 31.2669 33.1183 36.9215 46.0432C36.9725 46.1605 37.0135 46.2815 37.0445 46.4051Z");
}

#shape5 {
  position: absolute;
  top: 145px;
  left: 160px;
  z-index: -3;
  width: 240px;
  height: 120px;
  padding-top: 30px;
  padding-left: 40px;
  background-color: var(--yellow);
  transition: all 0.8s ease-in-out;
  clip-path: path("M180.43 35.6802C144.786 7.15109 164.297 1.99994 83.2537 2C2.21091 2.00006 1.0103 56.1262 2.21094 82.4363C3.71173 115.324 41.6067 105.418 64.1186 91.9461C86.6304 78.474 113.645 77.2853 136.157 91.9461C158.669 106.607 164.672 138.702 218.7 105.418C272.729 72.1341 216.074 64.2093 180.43 35.6802Z");
}
#shape5.transitioned {
  /* transform: translate(50px, 100px); */
  top: calc(140px + 340px);
  left: calc(-2px + 65px);
  width: 419px;
  height: 99px;
  padding-top: 55px;
  padding-left: 22px;
  clip-path: path("M131 3.15873C130 2.19002 2.00085 1.70566 2 2.19002C1.99915 2.67437 2.50012 96.1564 2.99915 99.0626C3.49817 101.969 421.499 101 421 100.031C420.9 99.8383 420 38.0329 420 38.0329C420 37.5485 132.999 39.4859 132 39.0016C131.001 38.5172 131.707 3.84367 131 3.15873Z");
}

@media (max-width: 590px) {
  .shapes_container {
    position: relative;
    width: 320px; 
    height: 395px;
    /* max-width: fit-content; */
  }
  .new-shapes_container {
    height: 230px !important;
  }

  #trigger-point {
    /* visibility: hidden; */
    position: absolute;
    top: 20%;
    border: 4px solid limegreen;
    pointer-events: none; 
    width: 100%;
  }

  #shape1 {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -5;
    width: 300px; 
    height: 392px;
    padding-top: 146px;
    padding-left: 166px;
    background-color: var(--blue-medium);
    transition: all 0.8s ease-in-out;
    clip-path: path("M111.033 362.048C131.38 455.995 178.14 295.113 206.024 336.833C233.909 378.553 363.972 295.379 260.86 243.612C223.276 224.743 290.751 155.281 247.545 130.524C204.339 105.767 177.501 67.8431 152.221 49.5046C126.941 31.1661 103.04 62.3417 94 33C84.9603 3.65824 48.9814 -11.5 38.2565 12.2403C28.8277 33.1115 68.4394 104.392 48.9814 147.029C33.3841 181.206 -14.4414 320.29 4.28055 362.048C23.0025 403.807 90.6856 268.102 111.033 362.048Z");
  }
  #shape1.transitioned {
    top: calc(10px + 440px);
    left: 0;
    width: 298px; 
    height: 230px;
    padding-top: 85px;
    padding-left: 20px;
    clip-path: path("M298 239C299 238.5 299 238.5 299 238C299 237.5 300 2.65386 300 0.999992C300 0.5 299.5 0 299 0C298.5 2.38419e-07 152.77 1 152.5 1C152.23 1 2.50015 -2.9683e-05 2.00015 0C1.50015 3.1352e-05 1.00015 0.500031 1.00015 1C1.00015 1.70711 6.10352e-05 192.133 6.10352e-05 239C6.10352e-05 240 0.500061 240 1.00006 240C1.50006 240 297 239.5 298 239Z");
  }
  
  #shape2 {
    position: absolute;
    top: 15px;
    left: 35px;
    z-index: -2;
    width: 230px; 
    height: 122px;
    /* transform: translate(100px, 0); */
    background-color: var(--yellow);
    padding-left: 60px;
    padding-top: 68px;
    transition: all 0.8s ease-in-out;
    clip-path: path("M129.298 52.8686C86.8495 74.9092 67.5459 54.3601 20.1601 72.1291C-27.2257 89.898 24.2448 126.411 44.3923 118.071C64.5398 109.732 108.28 96.3672 175.116 101.086C241.951 105.805 235.011 39.0649 213.314 9.8285C191.618 -19.4079 171.746 30.828 129.298 52.8686Z");
  }
  #shape2.transitioned {
    /* transform: translate(50px, 100px); */
    top: calc(40px + 440px);
    left: 110px;
    width: 162px; 
    height: 104px;
    padding-top: 30px;
    padding-left: 56px;
    clip-path: path("M67.7306 23.8238C92.8755 34.5373 104.416 4.82078 138.583 10.2797C172.75 15.7387 164.033 96.8747 147.067 102.104C102.429 115.863 76.6823 50.2234 38.3807 50.2234C-0.828888 50.2234 -5.98196 23.6956 5.13281 6.1477C16.2476 -11.4002 42.5857 13.1104 67.7306 23.8238Z");
  }
  
  #shape3 {
    position: absolute;
    top: 140px;
    left: -10px;
    z-index: -3;
    width: 247px; 
    height: 145px;
    padding-top: 76px;
    padding-left: 80px;
    background-color: var(--orange);
    transition: all 0.8s ease-in-out;
    clip-path: path("M86.6588 34.1424C125.848 56.5144 172.625 57.5459 226.209 61.1373C279.792 64.7286 190.233 130.297 177.518 118.042C164.803 105.788 149.085 102.511 114.043 132.506C79.0017 162.5 46.8667 125.254 58.2023 103.065C69.538 80.8763 16.5807 68.6495 4.28775 25.1555C-8.0052 -18.3386 47.4693 11.7704 86.6588 34.1424Z");
  }
  #shape3.transitioned {
    /* transform: translate(50px, 100px); */
    top: calc(7px + 440px);
    left: -2px;
    width: 300px; 
    height: 176px;
    padding-top: 25px;
    padding-left: 22px;
    clip-path: path("M1.99936 2.76945C1.3573 1.21533 299.999 2.21762 301 3.98007C302.001 5.74251 302.686 173.922 300 176.289C297.879 178.159 203.974 177.5 201.973 177.5C200.942 177.5 201.351 70.7049 200.973 69.7894C200.594 68.8739 8.00119 71 2.99985 71C1.99957 71 2.92157 5.00171 1.99936 2.76945Z");
  }
  
  #shape4 {
    position: absolute;
    top: 130px;
    left: 125px;
    z-index: -2;
    width: 150px;
    height: 88px;
    background-color: var(--rose-dark);
    transition: all 0.8s ease-in-out;
    clip-path: path("M22.4853 53.3382L22.4844 53.3405C21.7023 55.1496 20.7304 56.3159 19.5893 56.9894C17.8153 58.036 15.7197 57.8857 13.663 57.4725C11.9315 57.1246 10.2208 56.5622 8.67572 56.1171C6.97803 55.6278 5.44509 55.2907 4.23209 55.3468C3.02775 55.4025 2.05666 55.8015 1.33093 56.5622C0.657233 57.2676 0.153473 58.3586 0.0849762 60.0474C-0.0927695 64.4297 -0.197688 68.1018 1.99509 71.6037C3.45173 73.9318 5.94017 76.2156 10.2442 78.5285C17.5595 82.4592 26.4694 81.0703 36.4379 78.363C50.3662 74.58 66.5035 68.2632 83.199 73.2515C95.6622 76.9751 108.165 83.9413 119.167 86.7415C125.03 88.2341 130.493 88.5588 135.353 86.8398C140.261 85.1037 144.614 81.3011 148.097 74.3265C149.941 70.6349 150.317 67.3889 149.769 64.537C148.959 60.3201 146.077 56.9213 142.554 54.2113C139.284 51.6958 135.481 49.7728 132.578 48.2599C130.906 47.388 129.557 46.7101 128.949 46.0967C121.465 38.5408 115.582 24.4244 107.639 13.9509C102.575 7.27457 96.6806 2.05582 89.2325 0.488443C84.2228 -0.565588 78.4865 0.00655413 71.7884 2.98793C65.5712 5.75531 62.2977 9.09647 59.048 11.9313C54.6156 15.7981 50.1798 18.483 36.7439 16.7627C16.5997 14.1835 5.44162 22.1486 2.39394 29.3919C0.892202 32.9616 1.24161 36.4431 3.16473 38.8957C4.19219 40.2067 5.79364 41.3181 7.7159 42.296C10.2425 43.5812 13.3517 44.6679 16.1558 45.931C17.8535 46.6954 19.4341 47.5193 20.6436 48.5308C22.0916 49.7417 22.9344 51.248 22.4853 53.3382ZM25.8451 54.251C26.9636 49.5556 24.4197 46.5079 20.3974 44.2156C17.3844 42.4984 13.5017 41.2164 10.2884 39.7244C8.45722 38.8737 6.84884 37.9864 5.9211 36.8026C4.21907 34.6315 4.74364 31.2649 7.10635 28.1523C11.2448 22.6981 20.8977 18.1891 36.2948 20.1604C51.4231 22.0977 56.3662 18.8493 61.3578 14.4953C64.3907 11.8492 67.4195 8.69312 73.2232 6.10994C79.0954 3.49614 84.1125 2.91495 88.5044 3.83926C95.1591 5.23949 100.325 10.0352 104.848 16.0004C112.884 26.5956 118.885 40.8446 126.456 48.4883C127.05 49.0878 128.15 49.7911 129.593 50.5704C132.438 52.109 136.776 54.1156 140.41 56.9109C143.255 59.0995 145.694 61.768 146.348 65.1733C146.776 67.403 146.414 69.9291 144.973 72.8153C141.994 78.7796 138.373 82.1307 134.176 83.615C129.931 85.1164 125.159 84.7277 120.039 83.4244C109.078 80.6345 96.6269 73.6824 84.2105 69.9728C66.8323 64.7806 50.0098 71.1225 35.5118 75.0598C26.5292 77.4996 18.5046 79.063 11.9124 75.521C8.31677 73.5887 6.17687 71.7516 4.95866 69.8066C3.13872 66.8991 3.41618 63.822 3.56358 60.184C3.58959 59.5411 3.60693 59.0997 3.89653 58.8829C4.18352 58.668 4.59797 58.7457 5.07745 58.8025C5.8552 58.8943 6.74133 59.1298 7.69769 59.4054C13.7263 61.1424 21.8142 63.9141 25.7592 54.5141C25.7948 54.4289 25.8234 54.3409 25.8451 54.251Z");
  }
  #shape4.transitioned {
    /* transform: translate(50px, 100px); */
    top: calc(35px + 440px);
    left: 130px;
    width: 165px;
    height: 93px;
    /* transform: rotateX(180deg); */
    transform: rotateY(20deg);
    clip-path: path("M24.7337 36.6314L24.7328 36.6289C23.8725 34.717 22.8033 33.4845 21.5482 32.7727C19.5968 31.6666 17.2915 31.8254 15.0292 32.2621C13.1246 32.6298 11.2428 33.2241 9.54321 33.6945C7.67575 34.2116 5.98951 34.5679 4.6552 34.5086C3.33043 34.4497 2.26224 34.0281 1.46394 33.2241C0.72287 32.4787 0.168736 31.3257 0.0933891 29.5409C-0.102131 24.9097 -0.21754 21.0289 2.19451 17.328C3.79683 14.8677 6.53411 12.4541 11.2686 10.0098C19.3154 5.85573 29.1162 7.3236 40.0816 10.1847C55.4027 14.1827 74.8926 31.2033 93.2576 25.9316C106.967 21.9965 118.981 4.28945 131.084 1.33016C137.532 -0.247223 143.543 -0.590327 148.888 1.22633C154.287 3.06104 159.076 7.07964 162.907 14.4505C164.935 18.3519 165.348 21.7824 164.746 24.7963C163.855 29.2528 160.685 32.8446 156.809 35.7086C153.212 38.367 139.228 42.3872 136.035 43.9861C134.196 44.9075 132.712 45.6239 132.043 46.2722C123.811 54.2574 127.14 67.1879 118.403 78.2565C112.833 85.3121 106.349 90.8274 98.1557 92.4838C92.6451 93.5977 86.3351 92.9931 78.9672 89.8423C72.1282 86.9177 69.8609 79.0864 66.2862 76.0906C61.4106 72.004 56.5312 69.1666 41.7517 70.9846C19.5931 73.7104 5.9857 69.593 2.63324 61.9381C0.981331 58.1657 1.36569 54.4863 3.48113 51.8944C4.61133 50.5089 6.37293 49.3343 8.48742 48.3009C11.2667 46.9427 14.6868 45.7943 17.7713 44.4593C19.6387 43.6516 21.3774 42.7808 22.7079 41.7119C24.3007 40.4322 25.2278 38.8402 24.7337 36.6314ZM28.4295 35.6667C29.6599 40.6288 26.8615 43.8497 22.4371 46.2722C19.1227 48.087 14.8518 49.4419 11.3172 51.0186C9.30286 51.9176 7.53365 52.8553 6.51313 54.1064C4.6409 56.4009 5.21793 59.9588 7.81692 63.2482C12.3692 69.0123 24.3208 69.4772 41.2577 67.3939C57.8988 65.3466 63.3362 68.7794 68.827 73.3808C72.1632 76.1772 74.1614 83.813 80.5454 86.5429C87.0049 89.3052 92.5238 89.9194 97.3548 88.9426C104.675 87.4628 110.357 82.3947 115.333 76.0906C124.172 64.8934 120.973 51.8227 129.301 43.7448C129.954 43.1112 131.165 42.3679 132.751 41.5443C135.881 39.9183 150.453 35.8098 154.451 32.8557C157.58 30.5427 160.263 27.7226 160.983 24.1238C161.454 21.7674 161.055 19.0978 159.47 16.0476C156.193 9.74439 152.21 6.2029 147.593 4.63427C142.924 3.04759 137.675 3.45841 132.043 4.83571C119.985 7.78417 108.028 25.4763 94.3703 29.3966C75.2542 34.8838 55.0108 17.8366 39.063 13.6756C29.182 11.0972 20.355 9.44499 13.1036 13.1882C9.14836 15.2303 6.79448 17.1717 5.45445 19.2273C3.45252 22.2999 3.75773 25.5519 3.91987 29.3966C3.94848 30.0761 3.96755 30.5425 4.2861 30.7716C4.6018 30.9987 5.0577 30.9166 5.58513 30.8566C6.44065 30.7596 7.41539 30.5107 8.46738 30.2194C15.0989 28.3837 23.9955 25.4546 28.3351 35.3886C28.3742 35.4787 28.4057 35.5717 28.4295 35.6667Z");
  }
  
  #shape5 {
    position: absolute;
    top: 215px;
    left: 85px;
    z-index: -3;
    width: 238px;
    height: 138px;
    padding-top: 70px;
    padding-left: 80px;
    background-color: var(--yellow);
    transition: all 0.8s ease-in-out;
    clip-path: path("M75.9999 111C119.668 124.321 102.911 150.664 178.206 120.686C253.5 90.7086 234.595 39.9774 223.747 15.9774C210.188 -14.0226 178.645 9.19798 162.713 30.0416C146.781 50.8852 122.122 61.9821 95.7841 56.6882C69.446 51.3943 51.9968 23.796 14.1119 74.7041C-23.7729 125.612 32.3314 97.6789 75.9999 111Z");
  }
  #shape5.transitioned {
    /* transform: translate(50px, 100px); */
    top: calc(144px + 440px);
    left: -2px;
    width: 300px;
    height: 99px;
    padding-top: 55px;
    padding-left: 22px;
    clip-path: path("M131 3.15873C130 2.19002 2.00098 1.70566 2.00012 2.19002C1.99927 2.67437 2.50024 96.1564 2.99927 99.0626C3.49829 101.969 301.5 101 301 100.031C300.9 99.8383 300 38.0329 300 38.0329C300 37.5485 132.999 39.4859 132 39.0016C131.001 38.5172 131.707 3.84367 131 3.15873Z");
  }
  
  .new-shapes_container {
    height: 275px;
  }
}



.intrigued {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
