@import url('main.css');

button {
    border: none;
    padding: 0;
    background-color: var(--background);
}

.button {
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
    
    width: 90px;
    height: 40px;
    background-color: var(--yellow);
    border: none;
    padding-left: 2px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* clip-path: path("M33.7391 21.7499C49.7343 14.8711 60.452 16.8719 81.3456 19.0608C102.239 21.2498 108.739 13.7498 125.739 20.7498C142.739 27.7498 130.739 51.7498 117.739 57.2498C104.739 62.7498 87.011 57.2004 72.7393 58.2498C38.7393 60.7498 24.196 56.1725 16.739 43.7499C9.28201 31.3273 17.744 28.6287 33.7391 21.7499Z"); */
    clip-path: path("M14.8021 4.44733C20.7042 1.27514 25.6471 0.119782 31.0142 0.00896802C36.544 -0.105207 42.5241 0.889478 50.4675 1.92955C66.1204 3.97908 70.99 -3.04319 83.7259 3.51088C88.2229 5.8251 90.0112 10.1238 90.0142 14.9438C90.0196 23.7743 84.0328 34.3543 77.7325 37.6856C74.1957 39.5558 70.1917 40.0615 66.0142 39.9942C58.6883 39.8763 50.829 37.9962 44.0199 38.6219C18.5481 40.9627 7.65267 36.677 2.06613 25.0458C0.710298 22.223 0.0569226 19.9364 0.0161941 18C-0.110895 11.9576 5.72727 9.32481 14.8021 4.44733Z");
    transition: clip-path 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:hover {
    /* clip-path: path("M18.0002 10.9997C47.0002 17.4997 75.5 -9.50046 82.0001 7.99972C88.5002 25.4999 118.5 -20.5 139 14.4998C159.5 49.4996 137 41 137 66.9997C137 92.9994 79.5001 53.9998 60.5001 63.9998C23.0551 83.7078 -8.99974 61.9995 3.5002 49.9997C16.0001 37.9999 -10.9999 4.49971 18.0002 10.9997Z"); */
    clip-path: path("M17.5 3.51089C30.1979 10.5636 26.6471 0.119748 32.0141 0.00893415C37.544 -0.105241 46.5566 5.95993 54.5 7C70.1529 9.04953 69.4999 -1.48911 78.4999 1.50001C87.4999 4.48913 91.0111 10.1238 91.0141 14.9438C91.0196 23.7743 83 16 87 28.5C91 41 71.1916 40.0615 67.0141 39.9942C59.6883 39.8762 41.9999 31.5 31.4999 35.5C7.59657 44.6061 4.99994 37 5.99994 33C6.99994 29 -2.0422e-05 30.5 1.01618 18C0.889091 11.9576 4.80211 -3.54183 17.5 3.51089Z");
    background-color: var(--yellow);
}

.button.blue {
    background-color: var(--blue-primary);
    color: var(--text);
}


.button-settings {
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
    
    width: 130px;
    height: 40px;
    background-color: var(--yellow);
    border: none;
    padding-left: 2px;

    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    /* clip-path: path("M33.7391 21.7499C49.7343 14.8711 60.452 16.8719 81.3456 19.0608C102.239 21.2498 108.739 13.7498 125.739 20.7498C142.739 27.7498 130.739 51.7498 117.739 57.2498C104.739 62.7498 87.011 57.2004 72.7393 58.2498C38.7393 60.7498 24.196 56.1725 16.739 43.7499C9.28201 31.3273 17.744 28.6287 33.7391 21.7499Z"); */
    clip-path: path("M21.3604 4.44733C29.8856 1.27514 37.0253 0.119782 44.7778 0.00896802C52.7653 -0.105207 61.4033 0.889478 72.877 1.92955C95.4868 3.97908 102.521 -3.04319 120.917 3.51088C127.413 5.8251 129.996 10.1238 130 14.9438C130.008 23.7743 121.36 34.3543 112.26 37.6856C107.151 39.5558 101.367 40.0615 95.3333 39.9942C84.7516 39.8763 73.3992 37.9962 63.5638 38.6219C26.7712 40.9627 11.0334 36.677 2.96395 25.0458C1.00553 22.223 0.0617679 19.9364 0.00293797 18C-0.180635 11.9576 8.25227 9.32481 21.3604 4.44733Z");
    transition: clip-path 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button-settings:hover {
    /* clip-path: path("M18.0002 10.9997C47.0002 17.4997 75.5 -9.50046 82.0001 7.99972C88.5002 25.4999 118.5 -20.5 139 14.4998C159.5 49.4996 137 41 137 66.9997C137 92.9994 79.5001 53.9998 60.5001 63.9998C23.0551 83.7078 -8.99974 61.9995 3.5002 49.9997C16.0001 37.9999 -10.9999 4.49971 18.0002 10.9997Z"); */
    clip-path: path("M24.8447 3.50845C43.166 10.5563 38.0427 0.11967 45.7866 0.00893295C53.7653 -0.105163 66.7693 5.95579 78.2304 6.99514C100.815 9.04325 99.8731 -1.48807 112.859 1.49897C125.845 4.48602 130.911 10.1168 130.915 14.9334C130.923 23.7578 119.352 15.9889 125.123 28.4802C130.895 40.9715 102.314 40.0336 96.2865 39.9664C85.7164 39.8485 60.1946 31.4781 45.0446 35.4754C10.5555 44.5751 6.80897 36.9743 8.25182 32.9771C9.69468 28.9799 -0.40526 30.4788 1.06097 17.9875C0.8776 11.9493 6.52352 -3.53937 24.8447 3.50845Z");
    
    background-color: var(--yellow);
    color: var(--text);
}





a:link, a:visited {
    color: #000000;;
    text-decoration: none;
    /* padding-left: 8px; */
    transition: all 0.5s ease-in-out;
}
  
a:link:active, a:visited:active {
    color: #000000;;
    letter-spacing: 4px;
}



