
@import url(button.css);

.my-work_container_subpage {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
  }

.my-work_elements_subpage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 2.5rem;
    transition: transform 0.5s ease;
}
